---
import Articles from "../components/Articles.astro"
import Features from "../components/Features.astro"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout pageTitle="Easybank Landing Page">
	<div class="overlay fixed w-full h-full top-0 left-0 right-0 bottom-0 bg-gradient-to-t from-primary-dark-blue to-transparent opacity-0 -z-10 transition overflow-y-hidden"></div>
	<Header />
	<main>
		<Hero />
		<Features />
		<Articles />
	</main>
	<Footer />
</BaseLayout>
