---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import LogoDark from '../assets/logo-dark.svg';
---
<footer class="bg-primary-dark-blue py-9">
  <div class="footer-wrapper w-[88%] md:w-full mx-auto grid grid-cols-1 place-items-center md:max-w-[62rem] lg:grid-cols-[1fr_0.35fr]">
    <div class="outer-left grid grid-cols-1 md:grid-cols-3 md:place-items-center lg:grid-cols-[1fr_0.5fr_1fr]">
      <div class="inside-left flex flex-col items-center md:items-start justify-center">
        <Image src={LogoDark} alt='Easybank Logo' />
        <ul class="flex justify-center pt-7 md:pt-9 gap-[1.1rem] md:gap-[0.8rem]">
          <li><a id="icon" href="#"><Icon name='icon-facebook' class='scale-[1.2] md:scale-100' /></a></li>
          <li><a id="icon" href="#"><Icon name='icon-youtube' class='scale-[1.2] md:scale-100''/></a></li>
          <li><a id="icon" href="#"><Icon name='icon-twitter' class='scale-[1.2] md:scale-100 hover:fill-slate-400''/></a></li>
          <li><a id="icon" href="#"><Icon name="icon-pinterest" class='scale-[1.2] md:scale-100''/></a></li>
          <li><a id="icon" href="#"><Icon name="icon-instagram" class='scale-[1.2]'/></a></li>
        </ul>
      </div>
        <ul class="text-[0.83rem] font-thin text-neutral-white flex flex-col items-center md:items-stretch md:justify-center gap-2.5 pt-8 md:pt-0">
          <li><a href="#" class="hover:text-primary-lime-green transition-colors">About Us</a></li>
          <li><a href="#" class="hover:text-primary-lime-green transition-colors">Contact</a></li>
          <li><a href="#" class="hover:text-primary-lime-green transition-colors">Blog</a></li>
        </ul>
        <ul class="text-[0.83rem] font-thin text-neutral-white flex flex-col items-center md:items-stretch md:justify-center gap-2.5 pt-2.5 md:pt-0">
          <li><a href="#" class="hover:text-primary-lime-green transition-colors">Careers</a></li>
          <li><a href="#" class="hover:text-primary-lime-green transition-colors">Support</a></li>
          <li><a href="#" class="hover:text-primary-lime-green transition-colors">Privacy Policy</a></li>
        </ul>
    </div>
    <div class="right text-center lg:text-right pt-[1.82rem] lg:pt-0 ">
      <button type="button" class="bg-gradient-to-r from-primary-lime-green to-primary-bright-cyan rounded-full text-neutral-white text-[0.81rem] px-[1.82rem] py-2.5 md:py-2 md:px-[1.6rem] transition-opacity">Request invite</button>
      <p class="text-neutral-grayish-blue pt-[1.3rem] text-[0.81rem]">&copy; Easybank. All rights reserved</p>
    </div>
  </div>
</footer>