---

---
<!-- px-6 pt-8 -->
<section class="bg-neutral-very-light-gray pb-20">
  <div class="wrapper">
    <div class="background-image relative bg-mobile bg-center bg-cover min-h-[300px] after:content=[''] after:w-full after:h-full after:bg-mockup after:absolute after:bg-no-repeat after:bg-[length:340px] after:bg-[50%_103%]"></div>
    <div class="content w-[88%] mx-auto text-center pt-8">
      <h1 class="text-primary-dark-blue text-[2.1rem] leading-tight">Next generation digital banking</h1>
      <p class="text-neutral-grayish-blue pt-4 text-[0.8rem] leading-relaxed">Take your financial life online. Your Easybank account will be a one-stop-shop for spending, saving, budgeting, investing, and much more.</p>
      <button type="button" class="mt-7       bg-gradient-to-r from-primary-lime-green to-primary-bright-cyan rounded-full text-neutral-white text-[0.81rem] px-[1.82rem] py-2.5">Request Invite</button>
    </div>
  </div>
</section>

<style>

</style>