---

---
<section class="bg-neutral-very-light-gray pb-20 md:pb-0">
  <div class="hero-primary-bg md:bg-desktop md:bg-no-repeat mx-auto">
    <div class="hero-wrapper md:w-[90%] max-w-[62rem] md:flex md:mx-auto md:items-center md:min-h-[450px]">
      <div class="hero-secondary-bg relative bg-mobile bg-center bg-cover min-h-[300px] after:content=[''] after:w-full after:h-full after:bg-mockup after:absolute after:bg-no-repeat after:bg-[length:340px] after:bg-[50%_103%] md:order-2 md:w-full md:bg-none md:self-start"></div>
      <div class="content mx-auto text-center pt-8 w-[90%] md:text-left md:w-[400px] custom-md:w-[580px] md:py-0">
        <h1 class="hero-point text-primary-dark-blue text-[2.1rem] leading-tight md:order-1 md:text-[1.8rem] md:font-light custom-md:text-[2.2rem]">Next generation digital banking</h1>
        <p class="hero-text text-neutral-grayish-blue pt-4 text-[0.8rem] leading-relaxed md:text-[0.65rem] custom-md:text-[0.71rem]">Take your financial life online. Your Easybank account will be a one-stop-shop for spending, saving, budgeting, investing, and much more.</p>
        <button type="button" class="hero-btn mt-7 bg-gradient-to-r from-primary-lime-green to-primary-bright-cyan rounded-full text-neutral-white text-[0.81rem] px-[1.82rem] py-2.5 md:mt-6 md:text-[0.6rem] md:px-[1.6rem] md:py-2 custom-md:text-[0.6rem] custom-md:px-[1.3rem]">Request Invite</button>
      </div>    
    </div>
  </div>
</section>